<h2>Customer Feedback Comments</h2>
<div *ngIf="feedbackForm.dirty && feedbackForm.invalid">Enter valid values</div>
<form
  (ngSubmit)="!feedbackForm.invalid && submitFeedback()"
  #feedbackForm="ngForm"
  class="feedback-form"
>
  <div class="form-group">
    <textarea
      id="msg"
      name="msg"
      rows="10"
      cols="71"
      [(ngModel)]="feedback.message"
      placeholder="Great service! Would recommend again."
    ></textarea>
  </div>

  <br />
  <div class="mood-group">
    <fieldset class="mood-fieldset">
      <label>Satisfaction Rating:</label> <br/><br />

      <input
        class="form-check-input"
        type="radio"
        id="happy"
        name="mood"
        value="happy"
        [(ngModel)]="feedback.mood"
        required
      />
      <label class="form-check-label" for="happy">Happy</label>
      <br />

      <input
        class="form-check-input"
        type="radio"
        id="veryHappy"
        name="mood"
        value="veryHappy"
        [(ngModel)]="feedback.mood"
      />
      <label class="form-check-label" for="veryHappy">Very Happy</label>

      <input
        class="form-check-input"
        type="radio"
        id="sad"
        name="mood"
        value="sad"
        [(ngModel)]="feedback.mood"
      />
      <label class="form-check-label" for="sad">Sad</label>

      <div
        *ngIf="
          feedbackForm.controls['mood'].invalid &&
          (feedbackForm.controls['mood'].dirty ||
            feedbackForm.controls['mood'].touched)
        "
        class="text-danger"
      >
      </div>
    </fieldset>
  </div>
  <div class="form-group">
    <label for="Customer Email Address"> Email Address </label>
    <br>
    <input
      type="email"
      name="email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      [(ngModel)]="feedback.email"
      required
    />
  </div>

  <br />
  <button type="submit" class="btn btn-success">Save</button>
</form>
